<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %} {% endblock %}
    </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- 引入 Bootstrap -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 包括所有已编译的插件 -->
    {% load static %}
    <script src={% static 'js/bootstrap.min.js' %}></script>
	<script src={% static 'js/echarts.js' %}></script>
<script> 
    $('input[id=paper_file]').change(function() {
        $("#rst_message").remove();
        $('#photoCover').val($(this).val().replace("test", ""));
    });
</script>
 </head>
<body>
    <div class="container">
       <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row" style="margin-top:10px;">
            <input id="paper_file" name="paper_file" type="file" style="display:none">
            <div class="col-md-2 col-md-offset-4 col-lg-2 col-lg-offset-4" style="padding-top:7px;text-align:right;"><label>选择导入的班级分数Excel</label></div>
            <div class="col-md-4 col-lg-4">
                <input id="photoCover" class="form-control" type="text" style="height:30px;"></div>
			<div class="col-md-1 col-lg-1">
                <a class="btn btn-primary btn-sm" onclick="$('input[id=paper_file]').click();"><i class="icon-folder-open"></i>&nbsp;&nbsp;浏览文件</a>
			</div>
			<div class="col-md-1 col-lg-1">
				<button type="submit" name="Create" id="btn_import_paper" class="btn btn-primary btn-sm" style="margin-bottom:5px;margin-right:8px;"><i class="icon-upload-alt"></i>&nbsp;&nbsp;导入</button>
            </div>
		</div>
       </form>
	 </div>
{% include 'header.html' %}
{% block headmessage %} {% endblock %}
{% block content %} {% endblock %}
{% include 'footer.html' %}


</body>
</html>
