<!DOCTYPE html>
<div class='well'>
<h1>这里是通用的header头部 存放跳转应用 用户登录信息 用户：{{ user }} <a href="/logout/">注销</a></h1>
<li>
            <form action="{% url 'mainsite:elastic_search' %}" method="get">
                <input type="text" name="q" placeholder="请输入关键字">
                <input type="submit" id="search" value="搜索">
            </form>		
</li>
</div>