{% extends 'base.html' %}
{% block title %} zero的创作空间 {% endblock %}
{% block headmessage %} 
<h3>这里是自动化测试功能主体</h3> 
<div id='hani' class='col-md-9' style='height:300px;'>
   <p id="demo">动态刷新数据</p>
   <button type="button" onclick="loadDoc()"> 检查节目单情况 </button>
</div>
<div class="container" >
   <div class='row'>
       <div id='main' class='col-md-9' style='height:200px;'>
	
       <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
 
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '第一个 ECharts 实例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };
 
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
   </div>
	   <div class='col-md-3'>
	      <div class='row'>
		    <div class='col-md-12' style='height:100px;background-color:#dedef8'>
			<p>这里接入学生信息</p>
			</div>
			<div class='col-md-12' style='height:100px;background-color:#dedef8'>
			<p>这里接入信息通知</p>
			</div>
		  </div>
	   </div>
   </div>
</div>
<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML = this.responseText;
    }
  };
   xhttp.open("GET", "demo", true);
   xhttp.send();
}
</script>
{% endblock %}
