<!-- login.html -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>登录</title>
</head>
<body>
	<div class="login">
		<h2>欢迎登录！</h2>
		<br/>
		<form action="/login/" method="post">
			{% csrf_token %}
	        <p>账号：
	      		<input type="text" name="username" value="">
	    	</p>
	        <p>密码：
				<input type="password" name="password">
			</p>
			<br/>
			<input type="submit" value="登录">
			<button type="button" onclick="window.location.href='/register/'">注册</button>
		</form>
		<div>{{ mess }}</div>

	</div>
</body>
</html>
