{% extends 'base.html' %} 
{% block title %}搜索结果{% endblock %}
{% block content %}
    <div class="col-md-9">
    <div class="row text-center vertical-middle-sm">
        <h1>搜索结果</h1>
		{% if  imge_url %}
		{{ imge_url }}
		   {% load static %}
		   <img src={% static  imge_url  %} class="img-responsive" alt="响应式图像">
		{% else %}
		<h1> 搜索为空 </h1>
		{% endif %}
    </div>
{% endblock %}