    <div id="permissionManageDiv" style="margin-left: 10px; display: none;">
        <div>
            <h4 style="margin-top: 15px;">选择用户</h4>
            <hr style="margin-top: 5px;" />
            <select name="usernamePermission" id="usernamePermission" class="selectpicker" data-live-search="true">
                {% for user in users %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            <hr />
        </div>

        <div>
            <h4 style="margin-top: 15px;">勾选权限</h4>
            <hr style="margin-top: 5px;" />
            <div style="margin-bottom: 10px;">
                <div class="input-group input-group-lg" style="float: left; margin-right: 10px;">
                    <span class="input-group-addon">玩家管理</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="permissionList" value="0" />
                    </span>
                </div>
                <div class="input-group input-group-lg" style="float: left; margin-right: 10px;">
                    <span class="input-group-addon">联盟管理</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="permissionList" value="1" />
                    </span>
                </div>
                <div class="input-group input-group-lg" style="float: left; margin-right: 10px;">
                    <span class="input-group-addon">公告邮件</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="permissionList" value="2" />
                    </span>
                </div>
                <div class="input-group input-group-lg" style="float: left; margin-right: 10px;">
                    <span class="input-group-addon">订单系统</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="permissionList" value="3" />
                    </span>
                </div>
                <div class="input-group input-group-lg" style="">
                    <span class="input-group-addon">礼包奖励</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="permissionList" value="4" />
                    </span>
                </div>
            </div>

            <div>
                <div class="input-group input-group-lg" style="float: left; margin-right: 10px;">
                    <span class="input-group-addon">客服反馈</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="permissionList" value="5" />
                    </span>
                </div>
                <div class="input-group input-group-lg" style="float: left; margin-right: 10px;">
                    <span class="input-group-addon">玩家日志</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="permissionList" value="6" />
                    </span>
                </div>
                <div class="input-group input-group-lg" style="float: left; margin-right: 10px;">
                    <span class="input-group-addon">服务器管理</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="permissionList" value="7" />
                    </span>
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">管理员管理</span>
                    <span class="input-group-addon">
                        <input type="checkbox" name="permissionList" value="8" />
                    </span>
                </div>
            </div>
        </div>
        <button type="button" id="changePermissionBtn" class="btn btn-default" style="width: 100px; margin-top: 15px;" data-toggle="modal" data-target="#alertTip" data-whatever="重置权限？" >提&nbsp;&nbsp;交</button>
    </div>
